<div ng-include="'partials/head.html?2'"></div>


<div class="login_form_wrap">
  <div class="error" ng-if="error.message">{{ error.message }}</div>
  <form name="mySendCodeForm" ng-if="!credentials.phone_code_hash" ng-submit="sendCode()">
    <h3 class="login_form_head">Войти</h3>
    <p class="login_form_lead">Пожалуйста, введите Ваш полный номер телефона с кодом региона.</p>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone'}">
      <label class="control-label" for="phone_number" ng-if="error.field == 'phone'">Неправильный номер телефона</label>
      <input type="text" class="form-control" name="phone_number" ng-model="credentials.phone_number" placeholder="Введите Ваш телефон" required>
    </div>
    <button class="btn btn-tg btn-block" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled" type="submit">
      {{progress.enabled ? 'Генерирование ключей...' : 'Далее'}}
    </button>
  </form>

  <form name="myLoginForm" ng-if="credentials.phone_code_hash" ng-submit="logIn()">
    <h3 class="login_form_head">{{ credentials.phone_number | phoneNumber }} <small>(<a href="#/auth">редактировать</a>)</small></h3>
    <p class="login_form_lead">Мы отправили Вам код подтверждения через SMS.<br/>Пожалуйста, введите его здесь.</p>

    <p class="login_form_lead">
      <span ng-show="callPending.remaining > 0">Telegram позвонит Вам через {{callPending.remaining | duration}}</span>
      <span ng-show="!callPending.remaining &amp;&amp; !callPending.success">Telegram звонит Вам</span>
      <span ng-show="!callPending.remaining &amp;&amp; callPending.success">Telegram набирает Ваш номер</span>
    </p>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone_code'}">
      <label class="control-label" for="phone_code" ng-if="error.field == 'phone_code'">Неправильный код подтверждения</label>
      <input type="text" class="form-control" name="phone_code" ng-model="credentials.phone_code" placeholder="Введите код подтверждения" required>
    </div>

    <button class="btn btn-tg btn-block" type="submit" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled">
      {{progress.enabled ? 'Проверка кода...' : 'Войти'}}
    </button>
  </form>
</div>